<p class="text-neutral-700">In Honeybadger, open the WebHook integration you just configured and click <strong class="font-medium">Test integration</strong>. Honeybadger will send a sample event to pingrb and you'll see it land below.</p>
